body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.clickable{
    cursor: pointer;
}

.bootbox-input-textarea{
    resize: none;
}

.comment-profile-picture{
    width:45px;
    height:45px;
    border-radius:100%;
}

.post-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.profile-page-profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.profile-link{
    color:black;
}

.notification-badge{
    font-size: x-small;
    font-weight: bold;
    margin-left: -1em;
}

tbody>tr.hovered{
    color: #212529;
    background-color: rgba(0,0,0,.075);
}

.input-validation-error {
    border: 2px solid #dc3545;
}

input.error {
    border: 2px solid #dc3545;
}

label.error {
    color: #dc3545;
}

.post-container {
    background-color: #f7f7f7;
    border-radius: 1em;
    border: 1px solid #dedede;
}

.comment-container{
    background-color: #ececec;
    border-radius: 0.5em;
    border: 1px solid #d4d4d4;
}

.comment-date-added{
    font-size: small;
    color: #7f7f7f;
}

.email-message-content {
    background-color: #f7f7f7;
    border-radius: 1em;
    border: 1px solid #dedede;
}

.simple-user-badge {
    background-color: #f7f7f7;
    border-radius: 0.5em;
    border: 1px solid #dedede;
}

.subscriber-container {
    background-color: #f7f7f7;
    border-radius: 0.5em;
    border: 1px solid #dedede;
}