
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="page-title"></h2>
<hr />
<div id="js-load-posts">

</div>

@section scripts
{   
    <script type="text/post-template" id="post-template">
        <div class="panel panel-primary post-panel" id="<%= post.id %>">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-3"> <%= post.title %> </div>
                    <div class="col-lg-5 text-center">Opublikowany przez: <strong> <%= post.publisher.nickname %> </strong></div>
                    <div class="col-lg-4 text-right"><%= moment(post.datePublished).format("D MMM YYYY, H:mm") %></div>
                </div>
            </div>

            <div class="panel-body">
                <%= post.contents %>
            </div>

            <%
            if(post.numberOfEdits>0)%>
            <div class="panel-footer"><i>Ilość edycji:  <%= post.numberOfEdits %>. Ostatnia edycja: <%= moment(post.lastTimeEdited).format("D MMM YYYY, H:mm") %></i></div><%
            %>

            <hr />
            <h3 class="text-center"><span class="label label-primary label-comment">Komentarze</span></h3>
            <br />



            <div class="row comment-section">

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-4">
                        <input type="text" id="addCommentTo<%= post.id %>" placeholder="Dodaj komentarz" class="form-control input-sm">
                    </div>

                    <div class="col-lg-1">
                        <button data-post-id="<%= post.id %>" class="btn btn-primary btn-sm js-add-comment">Dodaj</button>
                    </div>
                </div>
            </div>

        </div>
    </script>

    <script type="text/comment-template" id="comment-template">
        <div class="row">           
            <div class="col-lg-10 col-lg-offset-1">
                <span class="label label-default label-nickname">
                    <%= comment.commentingUser.nickname %>
                </span>
                <div class="well well-sm comment-content">
                    <%= comment.contents %>
                </div>
            </div>
        </div>
    </script>

    <script>
        $(document).ready(function () {
            moment.locale("pl");

            PostsController.loadPosts();

            $("#js-load-posts").on("click", "button.js-add-comment", function () {
                $postId = $(this).attr("data-post-id");

                $.ajax({
                    url: "/api/comments",
                    data: {
                        contents: $("#addCommentTo" + $postId).val(),
                        postId: $postId
                    },
                    method: "POST",
                    success: function () {
                        var currentUserNickname = @Html.Raw(Json.Encode(ViewBag.UserNickname));
                        var newComment = {
                            contents: $("#addCommentTo" + $postId).val(),
                            commentingUser: {
                                nickname: currentUserNickname
                            }
                        };                      
                        var compiled = _.template($("#comment-template").html());
                        $("#" + $postId + " .comment-section").append(compiled({ comment: newComment }));
                        $("#" + $postId + " .comment-section").children().last().hide().fadeIn();
                        $("#addCommentTo" + $postId).val("");

                    }
                });
            });
        });
    </script>

}