
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="display-4">News</h4>
<hr />
<div id="js-load-posts">

</div>

@section scripts
{
    <script src="~/Scripts/jsrender.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/app/postsFunctions.js" type="text/javascript"></script>

    @Html.Partial("_commentPopoverTemplate")
    @Html.Partial("_commentTemplate")
    @Html.Partial("_postTemplate")

    <script>
        $(document).ready(function () {
            loadPosts();

            addCommentOptions();
        });

        addEditCommentHandler();
        addDeleteCommentHandler();
    </script>
}