
<ul class="nav nav-pills nav-stacked nav-fixed-top">
    <li>@Html.ActionLink("Nowy post", "NewPost", "Posts")</li>
    <li>@Html.ActionLink("Moje Posty", "MyPosts", "Posts")</li>
    <li>@Html.ActionLink("Szukaj użytkowników", "FindUsers", "Users")</li>
</ul>