<ul class="nav nav-pills flex-column position-fixed">
    <li class="nav-item">@Html.ActionLink("New post", "NewPost", "Posts", null, new { @class = "nav-link btn btn-primary my-1 px-4" })</li>
    <li class="nav-item">@Html.ActionLink("My posts", "MyPosts", "Posts", null, new { @class = "nav-link btn btn-primary my-1 px-4" })</li>
    <li class="nav-item">@Html.ActionLink("Users", "FindUsers", "Users", null, new { @class = "nav-link btn btn-primary my-1 px-4" })</li>
</ul>