@using System.Security.Claims
@using System.Security.Principal
@if (Request.IsAuthenticated)
{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var nick = claimsIdentity.Claims.SingleOrDefault(c=>c.Type=="Nickname").Value;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <p class="navbar-text">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                    Witaj @nick
                </p>
            </li>
            <li>
                <a href="/Manage" class="btn btn-block">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Ustawienia
                </a>
                
            </li> 
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    Wyloguj
                </a>
            </li>
        </ul>
    }
}
