@using System.Security.Claims
@if (Request.IsAuthenticated)
{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var nick = claimsIdentity.Claims.SingleOrDefault(c => c.Type == "Nickname").Value;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav mr-5">
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle navbar-brand" data-toggle="dropdown" role="button">Hello @nick</a>
                <div class="dropdown-menu">
                    <a href="@Url.Action("Index", "Manage")" class="dropdown-item">Settings</a>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log out</a>
                </div>
        </ul>
    }
}
