@using System.Security.Claims
@using System.Security.Principal
@if (Request.IsAuthenticated)
{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var nick = claimsIdentity.Claims.SingleOrDefault(c => c.Type == "Nickname").Value;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()



        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-dropdown glyphicon-user" aria-hidden="true"></span>
                Witaj @nick
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                    <a href="/Manage">
                        <span class="glyphicon glyphicon-dropdown glyphicon-cog" aria-hidden="true"></span>
                        Ustawienia
                    </a>
                </li>

                <li role="separator" class="divider"></li>

                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <span class="glyphicon glyphicon-dropdown glyphicon-off" aria-hidden="true"></span>
                        Wyloguj się
                    </a>
                </li>
            </ul>
        </div>
    }
}
