<script type="text/x-jsrender" id="post-template">
    <div data-post-id="{{:id}}" data-publisher-id="{{:publisher.id}}" class="container js-post-container mb-3 pb-3" style="border: 1px solid black" data-publicly-visible="{{:publiclyVisible}}">
        <div class="row mx-0 mt-3">
            <div class="col pl-0 d-flex">
                <h4 class="my-auto">{{:title}}</h4>
            </div>
            <div class="col pr-0">
                <img src="data:{{:publisher.imageMimeType}};base64,{{:publisher.imageData}}"
                     onerror="this.src='/Content/Images/default-profile-picture.png'" class="post-profile-picture float-right ml-3 mr-2" />

                <div class="d-flex flex-column h-100">
                    <span class="ml-auto mt-auto">
                        Published by:
                        <strong>
                            <a class="profile-link" href="/users/profilepage/{{:publisher.id}}">{{:publisher.nickname}}</a>
                        </strong>
                    </span>
                    <span class="ml-auto mb-auto">{{:datePublished}}</span>
                </div>

            </div>

            {{if publisher.id == "@ViewBag.Id"}}
            <div class="col-1 m-0 p-0 d-flex">
                <span class="js-edit-post my-auto mx-auto clickable" data-toggle="tooltip" title="Edit post">
                    <i class="far fa-edit text-primary"></i>
                </span>
                <span class="js-delete-post my-auto mx-auto clickable" data-toggle="tooltip" title="Delete post">
                    <i class="far fa-trash-alt text-danger"></i>
                </span>
                {{if publiclyVisible == true}}
                <span class="js-toggle-visibility my-auto mx-auto clickable" data-toggle="tooltip" title="Everybody can see this post. Click to limit visibility">
                    <i class="far fa-eye text-secondary"></i>
                </span>
                {{else}}
                <span class="js-toggle-visibility my-auto mx-auto clickable" data-toggle="tooltip" title="This post is only visible to your subscribers. Click to make it visible for everyone">
                    <i class="far fa-eye-slash text-secondary"></i>
                </span>
                {{/if}}
            </div>
            {{/if}}

        </div>
        <hr />
        <p align="justify">
            {{:contents}}
        </p>

        {{if numberOfEdits!=0}}
        <hr />
        <p><i class="font-weight-light">Edited {{:numberOfEdits}} times, last modification: {{:lastTimeEdited}}</i></p>
        {{/if}}

        <hr />
        <div class="row mx-0 justify-content-center">
            <div class="col-4 text-center">
                <h5>Discussion</h5>
            </div>
        </div>

        <div class="comment-section">

        </div>

        <div class="row mx-0 justify-content-center">
            <div class="col-4">
                <form id="add-comment-to-{{:id}}">
                    <div class="input-group">
                        <input type="text" name="contents" placeholder="Add comment..." class="form-control" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary js-add-comment">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>