<script type="text/x-jsrender" id="simple-user-badge">
    <div class="w-25 m-0 p-0">
        <div class="m-2 p-2 d-flex simple-user-badge">
            <img src="data:{{:imageMimeType}};base64,{{:imageData}}" class="comment-profile-picture mr-2"
                 onerror="this.src='/Content/Images/default-profile-picture.png'" />

            <label class="my-auto">
                <a class="profile-link" href="/users/profilepage/{{:id}}">
                    {{:nickname}}
                </a>
            </label>
        </div>
    </div>
</script>
