
<script type="text/x-jsrender" id="email-target-user-template">
    <div class="m-0 p-0 d-flex">
        <img src="data:{{:imageMimeType}};base64,{{:imageData}}"
             class="comment-profile-picture mr-2"
             onerror="this.src = '/Content/Images/default-profile-picture.png'" />
        <p class="my-auto">
            {{:nickname}}
        </p>
    </div>
</script>