
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />


<div class="d-flex my-2">
    <a href="@Url.Action("NewMessage")" class="btn btn-primary mr-2">
        <i class="fas fa-plus mr-2"></i>
        Create new
    </a>
    <a href="@Url.Action("Outbox")" class="btn btn-primary mr-2">
        <i class="fas fa-arrow-up mr-2"></i>
        Outbox
    </a>
</div>

<h2 class="mb-4">Inbox</h2>


<div class="row m-0 p-0">
    <div class="col-8 pl-0">
        <table class="table table-hover table-sm w-100" id="incoming-messages">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Title</th>
                    <th>Sent</th>
                </tr>
            </thead>
            <tbody class="align-middle"></tbody>
        </table>
    </div>
    <div class="col-4 px-2 email-message-content py-2" id="message-contents">

    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jsrender.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootbox.all.min.js"></script>

    @Html.Partial("_emailTargetUserTemplate")

    <script type="text/x-jsrender" id="message-template">
        <div class="p-0 m-2">
            <h4>From: {{:sender.nickname}}</h4>
            <h5 class="mb-3">{{:dateSent}}</h5>
            <p align="justify">{{:message}}</p>
            <hr />
            <button id="reply-button" class="btn btn-primary">Reply</button>
        </div>
    </script>

    <script type="text/x-jsrender" id="title-with-icon-template">
        <div class="d-flex">
            {{if isRead == true}}
            <i class="far fa-envelope-open  my-auto mr-2"></i>
            {{else}}
            <i class="fas fa-envelope my-auto mr-2"></i>
            {{/if}}
            <p class="my-auto">{{:title}}</p>
        </div>
    </script>

    <script>
        $(document).ready(function () {
            $("#incoming-messages").DataTable({
                ajax: {
                    url: "/api/emailmessages/inbox",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "sender",
                        render: function (data) {
                            var template = $.templates("#email-target-user-template");
                            return template.render(data);
                        }
                    },
                    {
                        data: "title",
                        render: function (data, type, row) {
                            var titleTemplate = $.templates("#title-with-icon-template");
                            return titleTemplate.render(row);
                        }
                    },
                    {
                        data: "dateSent",
                        render: function (data) {
                            return moment(data).format("D MMM YYYY, HH:mm");
                        }
                    },
                ],
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: "align-middle clickable"
                    }
                ],
                ordering: false,
                createdRow: function (row, data, index) {
                    $(row).attr("data-message-id", data.id);

                    if (!data.isRead) {
                        $(row).addClass("font-weight-bold").attr("data-unread-message", true);
                    }
                },
            });

            $("#incoming-messages").on("click", "tbody>tr", function () {
                var row = $(this);

                var messageId = row.attr("data-message-id");
                row.parents("tbody").find("tr").each(function () {
                    $(this).removeClass("hovered");
                });

                row.toggleClass("hovered");

                $.ajax({
                    url: "/api/emailmessages/" + messageId,
                    method: "GET",
                    success: function (response) {
                        var messageTemplate = $.templates("#message-template");

                        response.dateSent = moment(response.dateSent).format("D MMM YYYY, HH:mm");

                        $("#message-contents").html(messageTemplate.render(response));


                        if (row.attr("data-unread-message") == "true" && response.requestDeliveryNote) {
                            console.log(response);
                            bootbox.confirm({
                                message: "This user requested confirmation from you. Click OK to send confirmation note. If you dismiss this window, the confirmation won't be sent and the sender won't be notified",
                                title: "Confirm receiving the message",
                                onEscape: false,
                                closeButton: false,
                                buttons: {
                                    confirm: {
                                        label: "OK",
                                        className: "btn btn-secondary"
                                    },
                                    cancel: {
                                        label: "Dismiss",
                                        className: "btn btn-danger"
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        $.ajax({
                                            type: "POST",
                                            url: "/api/emailmessages/" + response.id,
                                            success: function (response) {
                                                toastr.options = {
                                                    progressBar: true,
                                                    positionClass: "toast-bottom-full-width",
                                                    timeOut: 3000,
                                                };
                                                toastr.success(response);
                                            },
                                            error: function (response) {
                                                toastr.options = {
                                                    progressBar: true,
                                                    positionClass: "toast-bottom-full-width",
                                                    timeOut: 3000,
                                                };
                                                console.log(response);
                                                toastr.error(response.responseJSON.message);
                                            }
                                        });
                                    }
                                }
                            });
                        }


                        $("#reply-button").on("click", function () {
                            sessionStorage.setItem("receiver", JSON.stringify(
                                {
                                    id: response.sender.id,
                                    nickname: response.sender.nickname,
                                    title: response.title
                                }));

                            window.location.href = "emailmessages/newmessage";
                        });

                        row.removeClass("font-weight-bold").removeAttr("data-unread-message").find(".fas").
                            removeClass("fas").
                            addClass("far").
                            removeClass("fa-envelope").
                            addClass("fa-envelope-open");
                    },
                    error: function (response) {
                        $("#message-contents").html(response.responseJSON.message);
                    }
                });
            });


        });
    </script>
}