
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />

<h2>Inbox</h2>



@section scripts
{
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>

    <script>
        
    </script>
}