
@{
    ViewBag.Title = "Outbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />

<div class="d-flex my-2">
    <a href="@Url.Action("NewMessage")" class="btn btn-primary mr-2">
        <i class="fas fa-plus mr-2"></i>
        Create new
    </a>
    <a href="@Url.Action("Index")" class="btn btn-primary mr-2">
        <i class="fas fa-arrow-down mr-2"></i>
       Inbox
    </a>
</div>

<h2 class="mb-4">Outbox</h2>

<div class="row m-0 p-0">
    <div class="col-8 pl-0">
        <table class="table table-hover table-sm w-100" id="outcoming-messages">
            <thead>
                <tr>
                    <th>To</th>
                    <th>Title</th>
                    <th>Sent</th>
                </tr>
            </thead>
            <tbody class="align-middle"></tbody>
        </table>
    </div>
    <div class="col-4 px-2 py-2 email-message-content" id="message-contents">

    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jsrender.min.js"></script>

    @Html.Partial("_emailTargetUserTemplate")

    <script type="text/x-jsrender" id="message-template">
        <div class="p-0 m-2">
            <h4>To: {{:receiver.nickname}}</h4>
            <h5 class="mb-3">{{:dateSent}}</h5>
            <p align="justify">{{:message}}</p>
        </div>
    </script>

    <script>
        $(document).ready(function () {
            $("#outcoming-messages").DataTable({
                ajax: {
                    url: "/api/emailmessages/outbox",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "receiver",
                        render: function (data) {
                            var template = $.templates("#email-target-user-template");
                            return template.render(data);
                        }
                    },
                    { data: "title" },
                    {
                        data: "dateSent",
                        render: function (data) {
                            return moment(data).format("D MMM YYYY, HH:mm");
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: "align-middle clickable"
                    }
                ],
                ordering: false,
                createdRow: function (row, data, index) {
                    $(row).attr("data-message-id", data.id);
                },
            });



            $("#outcoming-messages").on("click", "tbody>tr", function () {
                var row = $(this);

                var messageId = row.attr("data-message-id");
                row.parents("tbody").find("tr").each(function () {
                    $(this).removeClass("hovered");
                });

                row.toggleClass("hovered");

                $.ajax({
                    url: "/api/emailmessages/" + messageId,
                    method: "GET",
                    success: function (response) {
                        var messageTemplate = $.templates("#message-template");

                        response.dateSent = moment(response.dateSent).format("D MMM YYYY, HH:mm");

                        $("#message-contents").html(messageTemplate.render(response));
                    },
                    error: function (response) {
                        $("#message-contents").html(response.message);
                    }
                });
            });

        });
    </script>
}