
@{
    ViewBag.Title = "MyPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje posty</h2>
<hr />

<div id="js-load-posts">

</div>

@section scripts
{
    <script type="text/my-post-template" id="my-post-template">

        <div class="panel panel-primary post-panel" id="<%= post.id %>">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6"><h2 class="panel-title text-left"><%= post.title %></h2></div>
                    <div class="col-lg-5 text-right"><%= moment(post.datePublished).format("D MMM YYYY, H:mm") %></div>
                    <div class="col-lg-1">
                        <a href="/EditPost/<%= post.id %>" class="text-info"><span class="glyphicon glyphicon-pencil"></span></a>


                        <span data-post-id="<%= post.id %>" class="text-warning pull-right js-remove-post remove-icon"><span class="glyphicon glyphicon-remove"></span></span>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <%= post.contents %>
            </div>

            <%
            if(post.numberOfEdits>0)%>
            <div class="panel-footer"><i>Ilość edycji:  <%= post.numberOfEdits %>. Ostatnia edycja: <%= moment(post.lastTimeEdited).format("D MMM YYYY, H:mm") %></i></div><%
            %>

            <hr />
            <h3 class="text-center"><span class="label label-primary label-comment">Komentarze</span></h3>
            <br />

            <div class="row comment-section">

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-4">
                        <input type="text" id="addCommentTo<%= post.id %>" placeholder="Dodaj komentarz" class="form-control input-sm">
                    </div>

                    <div class="col-lg-1">
                        <button data-post-id="<%= post.id %>" class="btn btn-primary btn-sm js-add-comment">Dodaj</button>
                    </div>
                </div>
            </div>


        </div>

    </script>


    <script type="text/comment-template" id="comment-template">
        <div class="row comment">
            <div class="col-lg-10 col-lg-offset-1">
                <span>
                    <span class="label label-default label-nickname">
                        <%= comment.commentingUser.nickname %>
                    </span>
                    <span data-comment-id="<%= comment.id %>" class="glyphicon glyphicon-remove pull-right remove-icon text-warning js-delete-comment"></span>
                </span>
                <div class="well well-sm comment-content">
                    <%= comment.contents %>
                </div>
            </div>
        </div>
    </script>

    <script>
        $(document).ready(function () {
            moment.locale("pl");
            PostsController.loadPosts(@Html.Raw(Json.Encode(ViewBag.Id)));


            $("#js-load-posts").on("click", "button.js-add-comment", function () {
                $postId = $(this).attr("data-post-id");

                $.ajax({
                    url: "/api/comments",
                    data: {
                        contents: $("#addCommentTo" + $postId).val(),
                        postId: $postId
                    },
                    method: "POST",
                    success: function () {
                        var currentUserNickname = @Html.Raw(Json.Encode(ViewBag.Nickname));
                        var newComment = {
                            contents: $("#addCommentTo" + $postId).val(),
                            commentingUser: {
                                nickname: currentUserNickname
                            }
                        };
                        var compiled = _.template($("#comment-template").html());
                        $("#" + $postId + " .comment-section").append(compiled({ comment: newComment }));
                        $("#" + $postId + " .comment-section").children().last().hide().fadeIn();
                        $("#addCommentTo" + $postId).val("");
                    }
                });
            });

            $("#js-load-posts").on("click", ".js-remove-post", function () {
                var $button = $(this);
                bootbox.confirm({
                    message: "Na pewno chcesz usunąć ten post? Operacja jest nieodwracalna!",
                    size: "large",
                    onEscape: false,
                    closeButton: false,
                    buttons: {
                        cancel: {
                            label: "Nie, zostaw ten post",
                            className: "btn btn-default"
                        },
                        confirm: {
                            label: "Tak, usuń ten post",
                            className: "btn btn-danger",
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/posts/" + $button.attr("data-post-id"),
                                method: "DELETE",
                                success: function () {
                                    $button.parents(".post-panel").fadeOut();
                                }
                            });
                        }
                    }
                });
            });

            $("#js-load-posts").on("click", ".js-delete-comment", function () {
                var comment = $(this);
                bootbox.confirm({
                    message: "Na pewno chcesz usunąć ten komentarz?",
                    size: "large",
                    buttons: {
                        confirm: {
                            label: "Usuń",
                            className: "btn btn-danger"
                        },
                        cancel: {
                            label: "Nie usuwaj",
                            className: "btn btn-default"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/comments/" + comment.attr("data-comment-id"),
                                method: "DELETE",
                                success: function () {
                                    comment.parents(".comment").fadeOut();
                                }
                            });
                        }
                    }
                });               
            });

        });
    </script>
}