@model IEnumerable<SandBox.ViewModels.PostWithCommentsViewModel>
@{
    ViewBag.Title = "MyPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje posty</h2>
<hr />
@foreach(var postViewModel in Model)
{
    @Html.Partial("_PostView", postViewModel)
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-remove-post").on("click", function () {
                var $button = $(this);
                bootbox.confirm({
                    message: "Na pewno chcesz usunąć ten post? Operacja jest nieodwracalna!",
                    size: "large",
                    onEscape: false,
                    closeButton: false,
                    buttons: {
                        cancel: {
                            label: "Nie, zostaw ten post",
                            className: "btn btn-default"
                        },
                        confirm: {
                            label: "Tak, usuń ten post",
                            className: "btn btn-danger",
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/posts/" + $button.attr("data-post-id"),
                                method: "DELETE",
                                success: function () {
                                    $button.parents(".post-panel").fadeOut();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}