@model SandBox.ViewModels.StartPageViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLoggedOff.cshtml";
}



<div class="row">
    <div class="col">
        <br />
        @Html.Partial("_LoginView", Model.LoginViewModel)
    </div>
    <div class="col">
        <br />
        @Html.Partial("_RegisterView", Model.RegisterViewModel)
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
