@{
    ViewBag.Title = "FindUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szukaj użytkowników</h2>
<br />

<table class="table table-striped table-hover" >
    <tbody id="users">
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $.getJSON("/api/subscriptions", function (result) {
                $.each(result, function (key, value) {
                    $("#users").append("<tr> <td>" + value.nickname + "</td>" + "<td><button id='" + key + "' data-type-id='" + value.id + "' class='btn btn-primary pull-right js-toggle-subscribe'></button></td>" + "</tr>");
                    if (value.subscribedTo)
                        $("#"+key).text("Anuluj subskrybcję").removeClass("btn-primary").addClass("btn-danger");
                    else
                        $("#"+key).text("Subskrybuj").removeClass("btn-danger").addClass("btn-primary");
                });
            });

            $("#users").on("mousedown", "button.js-toggle-subscribe", function () {
                var button = $(this);

                if (button.hasClass("btn-primary")) {
                    $.ajax({
                        url: "/api/subscriptions/" + button.attr("data-type-id"),
                        method: "POST",
                        success: function () {
                            button.text("Anuluj subskrybcję").removeClass("btn-primary").addClass("btn-danger").blur();
                        }
                    });
                }
                else {
                    $.ajax({
                        url: "/api/subscriptions/" + button.attr("data-type-id"),
                        method: "DELETE",
                        success: function () {
                            button.text("Subskrybuj").removeClass("btn-danger").addClass("btn-primary").blur();
                        }
                    });
                }
            });
        });
    </script>
}